@import url(./__item/cards__item.css);
@import url(./__image/cards__image.css);
@import url(./__quote/cards__quote.css);
@import url(./__author/cards__author.css);

.cards{
  display: flex;
  max-width: 1184px;
  justify-content: center;
  margin: 0 auto;
}

@media screen and (max-width: 768px){
  .cards{
    max-width:50vw;
    flex-direction: column;
    text-align: center;
  }
}

@media screen and (max-width: 375px){
  .cards{
    max-width:100%;
  }
}
