/* @import url(); */

.place{
  display: flex;
  flex-wrap: wrap;
  max-width: 928px;
  margin:0 auto;
  padding-bottom: 5.18em;
}

.place:last-of-type{
  padding-bottom: 0;
}

.place__header{
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
}

.place__website{
  align-self: flex-end;
  padding: 2rem;
}
.place__website_url-heading{
  font-size: 12px;
  line-height: 20px;
  letter-spacing: 0.2em;
  color: #AAA;
}

.place__website_url{
  font-size: 18px;
  line-height: 30px;
  color: #fff;
  text-decoration-line: underline;
}

.place__content{
  display: flex;
}

.place__paragraphs{
  display: flex;
  flex-direction: column;
  padding-left: 2rem;
  max-width: 484px;
  color: #fff;
}

.place__paragraph{
  font-size: 18px;
  line-height: 30px;
  padding-bottom: 24px;
  margin: 0;
}
