.section-title_place_video{
  text-align: center;
  line-height: 78px;
  max-width: 928px;
}

@media screen and (max-width: 768px){
  .section-title_place_video{
    line-height: 46px;
    max-width: calc(100% - 120px);
    line-height: 35px;
  }
}

@media screen and (max-width: 600px){
.section-title_place_video{
  line-height: 46px;
  max-width: calc(100% - 32px);
  line-height: 35px;
 }
}
