.section-title_place_place{
  width: 460px;
  line-height: 65px;
  align-self: flex-end;
}

@media screen and (max-width:1024px){
  .section-title_place_place{
    width: 440px;
  }
}

@media screen and (max-width:768px){
  .section-title_place_place{
    /* width: 340px;
    line-height: 2.5em; */
    max-width: 320px;
    line-height: 46px;
  }
}

@media screen and (max-width: 730px){
  .section-title_place_place{
    padding:0;
    line-height: 42px;
    padding-left: 24px;
  }
}

@media screen and (max-width: 375px){
  .section-title_place_place{
    padding-left:16px;
    width: 100%;
  }
}
