
.place__paragraphs{
  display: flex;
  flex-direction: column;
  padding-left: 40px;
  max-width: 484px;
  color: #fff;
}

@media screen and (max-width: 1024px){
  .place__paragraphs{
    padding-left: 32px;
  }
}

@media screen and (max-width:768px){

  .place__paragraphs{
    padding-left: 24px;
  }
}

@media screen and (max-width: 730px){
  .place__paragraphs{
    max-width: calc(100% - 48px);
  }
}

@media screen and (max-width: 375px){
  .place__paragraphs{
    max-width: calc(100% - 32px);
  }
}
