
.place__paragraphs{
  display: flex;
  flex-direction: column;
  padding-left: 40px;
  max-width: 484px;
  color: #fff;
}

@media screen and (max-width: 1024px){
  .place__paragraphs{
    padding-left: 32px;
  }
}

@media screen and (max-width:768px){

  .place__paragraphs{
    padding-left: 28px;
  }
}

@media screen and (max-width: 730px){
  .place__paragraphs{
    padding-left: 0;
  }
}
