
.cover__subtitle{
  color: #fff;
  margin: auto auto 48px;
  font-size: 18px;
  line-height: 26px;
  text-align: center;
  max-width: 413px;
  z-index: 2;
}

/* .cover__subtitle:hover{
  opacity: .8;
} */

@media screen and (max-width: 1024px){
  .cover__subtitle{
    margin: auto auto 48px;
  }
}


@media screen and (max-width: 768px){
  .cover__subtitle{
     margin: auto auto 40px;
  }
}

@media screen and (max-width: 375px){
  .cover__subtitle{
    font-size: 14px;
    line-height: 17px;
    margin: auto auto 24px;
    max-width: calc(100% - 32px);
  }
}
