.video{
  width:90vw;
  color:#fff;
  margin:0 auto;
  padding-top: 102px;
}

.video__content-title{
  font-weight: 900;
  font-size: 72px;
  line-height: 78px;
  text-align: center;
}

.video__content-subtitle{
  font-size: 24px;
  line-height: 35px;
  text-align: center;
  padding-top: 48px;
}

.video__container{
  display:flex;
  padding-top: 73px;
  justify-content: center;
  position:relative;
}

.video__item{
  width: 456px;
  height:288px;
  margin-right: 16px;
  border-radius: 3%;
  color: #fff;
  text-decoration: none;
  background-size: cover;
  opacity: .7;
}

.video__item:first-of-type{
  background-image: url(../../images/kamchatka.jpg);
}

.video__item:last-of-type{
  background-image: url(../../images/observatory.jpg);
}

.video__item:hover{
  opacity: .5;
}

.video__icon_play{
  padding-top: 40px;
  width: 40px;
  height: 40px;
  padding-left: 30px;
  margin: 0;
}

.video__duration{
  font-size: 12px;
  line-height: 13px;
  letter-spacing: 0.3em;
  padding-left: 30px;
  padding-top: 54px;
  margin: 0;
}

.video__title{
  font-weight: 900;
  font-size: 36px;
  line-height: 39px;
  width: 322px;
  padding-left: 30px;
  padding-top: 12px;
  margin: 0;
}

.video__subtitle{
  font-size: 14px;
  line-height: 15px;
  padding-left: 30px;
  padding-top: 18px;
  margin: 0;
}
