@import url(./__logo/header__logo.css);
@import url(./__langs/header__langs.css);
@import url(./__lang/header__lang.css);

.header{
  display: flex;
  justify-content: space-between;
  width:90vw;
  position: relative;
  margin: 0 auto;
  height:52px;
  padding-top: 30px;
}
