.video__item{
  width: 583px;
  height:322px;
  border-radius: 5%;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-decoration: none;
  background-size: cover;
  margin-top: 43px;
}

.video__item:first-of-type{
  margin-right: 16px;
}

@media screen and (max-width:1024px){
  .video__item{
    width: 456px;
    height:288px;
  }
}

@media screen and (max-width:768px){
  .video__item{
    width: 352px;
    height:200px;
  }
}

@media screen and (max-width:375px){
  .video__item{
    width: calc(100% - 32);
    height:192px;
  }
}

@media screen and (max-width: 730px){
  .video__item:first-of-type{
    margin:0 auto 16px;
  }
}

@media screen and (max-width: 375px){
  .video__item:first-of-type{
    margin:0 auto 8px;
  }
}


.video__item:first-of-type{
  background-image: url(../../../images/kamchatka.jpg);
}

.video__item:last-of-type{
  background-image: url(../../../images/observatory.jpg);
}

.video__item:hover{
  opacity: .5;
}
