@import url(./__title/intro__title.css);
@import url(./__main-text/intro__main-text.css);
@import url(./__facts/intro__facts.css);
@import url(./__fact/intro__fact.css);
@import url(./__span-accent/intro__span-accent.css);

.intro{
  max-width: 985px;
  display: flex;
  flex-direction: column;
  padding-top: 80px;
  color: #FFFFFF;
  margin: 0 auto;
}

@media screen and (max-width:1024px){
  .intro{
    max-width: calc(100% - 96px);
  }
}
@media screen and (max-width: 768px){
  .intro{
    max-width: calc(100% - 48px);
  }
}


@media screen and (max-width: 375px){
  .intro{
    padding-top: 64px;
    max-width: calc(100% - 32px);
  }
}
