.place__website{
  align-self: flex-end;
  padding-left: 40px;
}


@media screen and (max-width: 1024px){
  .place__paragraphs{
    padding-left: 32px;
  }
}

@media screen and (max-width:768px){

  .place__paragraphs{
    padding-left: 28px;
  }
}

@media screen and (max-width: 730px){
  .place__website{
    align-self: start;
    padding:0;
  }
}

@media screen and (max-width: 375px){
  .place__website{
    display: none;
  }
}
